body {
  padding-bottom: 250px;
}

.log {
  border-top: 1px solid #CCCCCC;
  bottom: 0px;
  font-family: monospace;
  font-size: 11px;
  height: 250px;
  margin-top: 20px;
  overflow: auto;
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.065) 0%, rgba(0,0,0,0.015) 10px);
  background-color: white;
  z-index: 100;
}

.log > div {
  transition: background 100ms ease;
}

.log > div:hover {
  background: #f1f1f1;
}

.log > div.new {
  background-color: #DBFFDB;
}

.console {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  right: 0px;
}

.console textarea {
  height: 100px;
  width: 250px;
}

.console span {
  vertical-align: bottom;
}

.provides-search {
  margin-bottom: 20px;
}

.provides-list .label {
  margin-right: 2px;
}

.provide {
  overflow: hidden;
}

.provide h3 {
  min-height: 2em;
  max-height: 2em;
  font-size: 15px;
  margin-top: 0px;
  font-weight: 700;
}

.provides-tag button {
  margin: 3px;
}

.tree {
  margin-top: 1px;
}

.tree form {
  display: inline;
}

.tree ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
}

.tree > ul {
  margin-left: 0px;
}

.tree li {
  margin-top: -1px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid white;
  padding: 5px 10px;
}

.tree li:last-child {
  border-bottom: 0px;
}

.container-fluid {
  margin: auto 10px;
}

.tree .specialize button {
  margin-right: .5em;
}
