body.log-bottom {
  padding-bottom: 20%;
}

.log {
  border: 1px solid #ccc;
  border-right: 0px;
  font-family: monospace;
  font-size: 11px;
  overflow: auto;
  position: fixed;
  background-color: white;
  z-index: 2000;
  padding: 3px;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.log.log-bottom {
  bottom: 0px;
  left: 5%;
  width: 90%;
  height: 35%;

  -webkit-transition: height ease 0.2s;
  -moz-transition: height ease 0.2s;
  transition: height ease 0.2s;
}

.log.log-bottom.ng-hide {
  height: 0;
}

.log.log-right {
  top: 10%;
  right: 0px;
  width: 50%;
  height: 85%;

  -webkit-transition: width ease 0.2s;
  -moz-transition: width ease 0.2s;
  transition: width ease 0.2s;
}

.log.log-right.ng-hide {
  width: 0;
}

.log-control {
  position: fixed;
  z-index: 3000;
  margin-top: -14px;

}

.log-bottom .log-control {
  right: 7%;
}

.log-right .log-control {
  right: 15px;
}

.log > div {
  transition: background 100ms ease;
}

.log > div:hover {
  background: #f1f1f1;
}

.log > div.new {
  background-color: #DBFFDB;
}

.console {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  right: 0px;
}

.console textarea {
  height: 100px;
  width: 250px;
}

.console span {
  vertical-align: bottom;
}

.provides-search {
  margin-bottom: 20px;
}

.provides-list .label {
  margin-right: 2px;
}

.provide {
  overflow: hidden;
}

.provide h3 {
  font-size: 15px;
  margin-top: 0px;
  font-weight: 700;
}

.provide h3 small {
  font-size: 80%;
}

.provides-tag button {
  margin: 3px;
}

.tree {
  margin-top: 1px;
}

.tree form {
  display: inline;
}

.tree form legend {
  cursor: pointer;
  font-size: 16px;
}

.tree form legend span.glyphicon {
  font-size: 75%;
}

.tree form .form-fields {
  max-height: 1000px;
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  overflow: hidden;
}

.tree form .form-fields.ng-hide {
  max-height: 0;
}

.tree ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
}

.tree > ul {
  margin-left: 0px;
}

.tree li {
  padding: 5px 10px;
  background: #f8f8f8;
  border-left: 3px solid #CCC;
}

.tree .specialize button {
  margin-right: .5em;
  margin-bottom: .5em;
}

.tree h4 {
  border-bottom: 1px solid #E5E5E5;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 10px;
  line-height: inherit;
}

.container-fluid > .row {
  margin: 0px;
}
