<div class="md-col-12" ng-controller="buildCtrl as build">
  <div class="row" ng-hide="build.urlProvide">
    <div class="col-md-6">
      <form role="form" ng-submit="build.run(build.provide)" class="form-inline">
        <div class="input-group">
          <input ng-model="build.provide" ng-disabled="!build.providerOnline()" type="text" class="form-control" placeholder="Build provide..." wa-focus/>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-disabled="!build.providerOnline()"><span class="glyphicon glyphicon-cog"/></button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row" ng-if="!build.providerOnline()">
    <div class="col-md-12">
      <br/>
      <p class="alert alert-danger">Master is offline, can't build any provide.</p>
    </div>
  </div>
  <div class="row" ng-if="build.providerOnline()">
    <div class="col-md-4">
      <div class="tree">
        <tree node="build.tree()" />
      </div>
    </div>
    <div class="col-md-4" ng-if="global.options.debugMode">
      <h4>Deployment tree</h4>
      <pre>{{ build.tree() | stringify }}</pre>
    </div>
    <div class="col-md-4" ng-if="global.options.debugMode">
      <h4>Deployment variables</h4>
      <pre>{{ build.variables() | stringify }}</pre>
    </div>
  </div>
</div>
