<div class="col-md-4 col-md-offset-4" ng-controller="loginCtrl as login">
  <h1>Login</h1>

  <a class="label label-primary pull-right" ng-click="global.options.expertMode = !global.options.expertMode" href="#">
    <span ng-show="global.options.expertMode">
      <span class="glyphicon glyphicon-minus"></span> Less options
    </span>
    <span ng-show="!global.options.expertMode">
      <span class="glyphicon glyphicon-plus"></span> More options
    </span>
  </a>

  <div class="well">
    <form role="form" ng-submit="login.connect()">
      <div class="form-group">
        <label for="jid">User</label>
        <input type="email" class="form-control" id="jid" placeholder="uid@im.aeolus.org" ng-model="login.user.jid" wa-focus/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="password" ng-model="login.user.password"/>
      </div>
      <div class="form-group" ng-show="global.options.expertMode">
        <label for="connection">Connection</label>
        <select id="connection" class="form-control"
          ng-options="conn for conn in login.connections"
          ng-required
          ng-model="login.connection" />
      </div>
      <div class="form-group" ng-show="global.options.expertMode">
        <label for="masterJID">Master JID</label>
        <input id="masterJID" class="form-control" ng-model="login.masterJID" />
      </div>
      <div class="form-group" ng-show="global.options.expertMode">
        <label for="mucDomain">MUC domain</label>
        <input id="mucDomain" class="form-control" ng-model="login.mucDomain" />
      </div>
      <button type="submit" class="btn btn-default">Connect</button>
    </form>
  </div>

  <div class="alert alert-info">
    <span class="pull-right" ng-show="login.status.code == 1" wa-spinner></span>
    {{ login.status.text }}
  </div>

</div>
