<div ng-controller="providesCtrl as provides">
  <div class="row provide-search">
    <div class="col-md-4">
      <div class="col-md-12">
        <form role="form" ng-submit="provides.updateList()">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="provides.searchFilter" ng-keyup="provides.updateList()" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="col-md-4" ng-repeat="provide in provides.getList()">
        <div class="well provide">
          <p><strong>{{ provide.xpath }}</strong></p>
          <p>{{ provide.desc }}</p>
          <p>Tags: {{ provide.tags | join }}</p>
          <button class="btn btn-primary">Select</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h2>Tags</h2>
      <span ng-repeat="tag in provides.tags">
        <button class="btn"
          ng-class="{'btn-info': tag.active}"
          ng-click="tag.active = !tag.active">{{ tag.name }}
          <span class="glyphicon" ng-class="{'glyphicon-minus': tag.active, 'glyphicon-plus': !tag.active}" />
        </button>&nbsp;
      </span>
      <roster />
    </div>
  </div>
</div>
