<!doctype html>
<html lang="en" ng-app="warmonic">
<head>
  <meta charset="utf-8">
  <title>Warmonic</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="navCtrl as nav" ng-show="nav.xmppSession.data.jid">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="login">Warmonic</a>
      </div>
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="provides">Provides</a></li>
        <li ui-sref-active="active"><a ui-sref="build">Build</a></li>
      </ul>
      <div class="pull-right" ng-controller="loginCtrl as login">
        <button type="button" class="btn navbar-btn" ng-click="nav.toggleExpertMode()" ng-class="{'btn-info': ! nav.inExpertMode(), 'btn-warning': nav.inExpertMode()}">
          {{ nav.inExpertMode() ? "Expert mode" : "Normal mode" }}
        </button>
        <button type="button" class="btn navbar-btn" ng-click="nav.toggleDebugMode()" ng-class="{'btn-danger': nav.inDebugMode()}">
          {{ nav.inDebugMode() ? "Debug on" : "Debug off" }}
        </button>
        <button type="button" class="btn navbar-btn" ng-click="global.toggleOption('logShow')" ng-class="{'btn-danger': global.options.logShow}">
          {{ global.options.logShow ? "Hide logs" : "Show logs" }}
        </button>
        <span master-status></span>
        <button type="button" class="btn btn-default navbar-btn" ng-click="login.disconnect()">Disconnect {{ nav.xmppSession.data.jid | bareJid }}</button>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row" ui-view />
  </div>
  <div class="log" ng-controller="loggerCtrl as logger"
    ng-class="{'log-hidden': !global.options.logShow, 'log-bottom': global.options.logBottom, 'log-right': !global.options.logBottom}">
    <div class="log-control pull-right">
      <button ng-click="global.toggleOption('logBottom')" class="btn btn-default btn-xs">
        <span class="glyphicon"
          ng-class="{'glyphicon-chevron-right': global.options.logBottom, 'glyphicon-chevron-down': !global.options.logBottom}"></span>
      </button>
      <button ng-click="global.toggleOption('logShow')" ng-if="global.options.logShow" class="btn btn-danger btn-xs">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div ng-repeat="line in logger.output()">
      <span class="text-muted">{{ line.date | date:'short' }} : </span>
      <span ng-switch="line.level">
        <span ng-switch-when="0" class="text-muted">{{ line.text }}</span>
        <span ng-switch-when="1" class="text-primary">{{ line.text }}</span>
        <span ng-switch-when="2" class="text-info">{{ line.text }}</span>
        <span ng-switch-when="3" class="text-warning">{{ line.text }}</span>
        <span ng-switch-when="4" class="text-danger">{{ line.text }}</span>
        <span ng-switch-when="5" class="text-danger">{{ line.text }}</span>
      </span>
    </div>
  </div>
  <!--<div ng-controller="consoleCtrl as console" class="console">-->
    <!--<form ng-submit="console.send()">-->
      <!--<div class="input-group">-->
        <!--<textarea class="form-control input-sm" ng-model="console.input"></textarea>-->
        <!--<span class="input-group-btn">-->
          <!--<button type="submit" class="btn btn-default btn-sm">Send</button>-->
        <!--</span>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->

  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/strophejs/src/md5.js"></script>
  <script src="../bower_components/strophejs/src/sha1.js"></script>
  <script src="../bower_components/strophejs/src/base64.js"></script>
  <script src="../bower_components/strophejs/src/core.js"></script>
  <script src="../bower_components/strophejs/src/bosh.js"></script>
  <script src="../bower_components/strophejs-plugins/roster/strophe.roster.js"></script>
  <script src="../bower_components/strophejs-plugins/dataforms/src/strophe.x.js"></script>
  <script src="../bower_components/strophejs-plugins/disco/public/javascript/strophe.disco.js"></script>
  <script src="../bower_components/strophejs-plugins/cmds/src/strophe.cmds.js"></script>
  <script src="../bower_components/strophejs-plugins/muc/strophe.muc.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="../bower_components/angular-ui-bootstrap/src/bindHtml/bindHtml.js"></script>
  <script src="../bower_components/angular-ui-bootstrap/src/position/position.js"></script>
  <script src="../bower_components/angular-ui-bootstrap/src/tooltip/tooltip.js"></script>
  <script src="js/app.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/logger.js"></script>
  <script src="js/xmpp.js"></script>
  <script src="js/nav.js"></script>
  <script src="js/roster.js"></script>
  <script src="js/muc.js"></script>
  <script src="js/commands.js"></script>
  <script src="js/provides.js"></script>
  <script src="js/build/services.js"></script>
  <script src="js/build/controllers.js"></script>
  <script src="js/build/directives.js"></script>
</body>
</html>
